<div>
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Criar Conta</h1>

    <!-- nome -->
    <label for="inputNome" class="sr-only">Nome</label>
    <input type="text" name="nome" id="inputNome" placeholder="Informe o nome"
           class="mb-2 form-control"
           [ngClass]="{
              'is-invalid': nome.invalid && (nome.dirty || nome.touched),
              'is-valid': nome.valid && (nome.dirty || nome.touched)
           }"
           [(ngModel)]="usuario.strNome"
           #nome="ngModel"
           required />
    <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)" role="alert">
      <div *ngIf="nome.errors.required">
        Nome deve ser preenchido!
      </div>
    </div>

    <!-- sobrenome -->
    <label for="inputSobrenome" class="sr-only">Sobrenome</label>
    <input type="text" name="sobrenome" id="inputSobrenome" placeholder="Informe o sobrenome"
           class="mb-2 form-control"
           [ngClass]="{
              'is-invalid': sobrenome.invalid && (sobrenome.dirty || sobrenome.touched),
              'is-valid': sobrenome.valid && (sobrenome.dirty || sobrenome.touched)
           }"
           [(ngModel)]="usuario.strSobrenome"
           #sobrenome="ngModel"
           required />
    <div class="invalid-feedback mb-2" *ngIf="sobrenome.invalid && (sobrenome.dirty || sobrenome.touched)" role="alert">
      <div *ngIf="sobrenome.errors.required">
        Sobrenome deve ser preenchido!
      </div>
    </div>

    <!-- email -->
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" id="inputEmail" placeholder="Informe o email"
           class="mb-2 form-control"
           [ngClass]="{
              'is-invalid': email.invalid && (email.dirty || email.touched),
              'is-valid': email.valid && (email.dirty || email.touched)
           }"
           [(ngModel)]="usuario.strEmail"
           #email="ngModel"
           email
           required />
    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)" role="alert">
      <div *ngIf="email.errors.required">
        Email deve ser preenchido!
      </div>
      <div *ngIf="email.errors.email">
        Email no formato inválido
      </div>
    </div>


    <!-- Senha -->
    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" name="password" id="inputSenha" placeholder="Informe a senha"
           class="mb-2 form-control"
           [ngClass]="{
              'is-invalid': senha.invalid && (senha.dirty || senha.touched),
              'is-valid': senha.valid && (senha.dirty || senha.touched)
           }"
           [(ngModel)]="usuario.strSenha"
           #senha="ngModel"
           senha
           required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)" role="alert">
      <div *ngIf="senha.errors.required">
        Senha deve ser preenchido!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit" (click)=cadastrar() [disabled]="ativar_spinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
      Cadastrar
    </button>

    <div><a [routerLink]='["/entrar"]'>Voltar</a></div>

    <div class="alert alert-danger" *ngIf="msgErro">
      {{msgErro}}
    </div>
    <div class="alert alert-success" *ngIf="usuarioCadastrado">
      Usuário cadastrado com sucesso! <a class="alert-link" [routerLink]='["/entrar"]'>Logar no sistema?</a>
    </div>

  </form>
</div>
