<h1 class="h4" titulo>Cadastro do Produto</h1>


<!-- nome -->
<label for="inputNome" class="sr-only">Nome</label>
<input type="text" name="nomeProduto" id="inputNome" placeholder="Informe o nome do produto"
       class="mb-2 col-md-4 form-control"
       [ngClass]="{
              'is-invalid': nome.invalid && (nome.dirty || nome.touched),
              'is-valid': nome.valid && (nome.dirty || nome.touched)
           }"
       [(ngModel)]="produto.strNome"
       #nome="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)" role="alert">
  <div *ngIf="nome.errors.required">
    Nome deve ser preenchido!
  </div>
</div>


<!-- descrição -->
<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" name="descricaoProduto" id="inputDescricao" placeholder="Informe a descrição do produto"
       class="mb-2 col-md-4 form-control"
       [ngClass]="{
              'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
              'is-valid': descricao.valid && (descricao.dirty || descricao.touched)
           }"
       [(ngModel)]="produto.strDescricao"
       #descricao="ngModel"
       minlength="50"
       required />
<div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" role="alert">
  <div *ngIf="descricao.errors.required">
    Descrição deve ser preenchido!
  </div>
  <div *ngIf="descricao.errors.minlength">
    Descrição deve ter no mínimo 50 caracteres!
  </div>
</div>


<!-- preço -->
<label for="inputPreco" class="sr-only">Preço do Produto</label>
<input type="number" name="precoProduto" id="inputPreco" placeholder="Informe o preço do produto"
       class="mb-2 col-md-4 form-control"
       [ngClass]="{
              'is-invalid': preco.invalid && (preco.dirty || preco.touched),
              'is-valid': preco.valid && (preco.dirty || preco.touched)
           }"
       [(ngModel)]="produto.douPreco"
       #preco="ngModel"
       money-mask
       required />
<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)" role="alert">
  <div *ngIf="preco.errors.required">
    Preço deve ser preenchido!
  </div>
</div>


<!-- foto -->
<div class="input-group mb-2">
  <div class="custom-file col-md-4">

    <input type="file" id="inputFile" class="custom-file-input" (change)="inputChange($event.target.files)" />
    <label for="inputFile" class="custom-file-label">Escolha a foto do Produto</label>

  </div>
</div>


<div class="form-inline">
  <button class="btn btn-primary col-md-1" style="margin-right:4px" type="submit" (click)=cadastrar() [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    Cadastrar
  </button>

  <button class="btn btn-danger col-md-1" (click)="cancelarProduto()" >Cancelar</button>
</div>

<!--[routerLink]='["/pesquisa-produto"]'-->

<div class="alert alert-danger col-md-4" *ngIf="msgErro">
  {{msgErro}}
</div>
<div class="alert alert-success col-md-4" *ngIf="produtoCadastrado">
  Produto cadastrado com sucesso!
</div>
